body{
	margin: 0px;
	padding: 0px;
}
#headers {
	background-color: #262626;
	height: 40px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 18px;
	text-decoration: none;
	padding-top: 10px;
}
.item-container{
	float: right;
	width: auto;
	text-align: right;
}
.item {
	background-color: #FF0000;
	margin-right: 5px;
	color: #FFFFFF;
}
.logo {
	background-color: #FF0000;
	float: left;
	width: auto;
	color: #FFFFFF;
}
.logo2 {

	width: auto;
	float: left;
	margin-right: 50px;
	color: #FFFFFF;
}
.logo:hover {
	color: #262626;
	background-color: #FFFFFF;
}
.item:hover {
	color: #262626;
	background-color: #FFFFFF;
}
/*.content {
  display: none;
  flex-flow: column;
  height: 94%;
  background-color: #262626;
}*/
/*.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	margin: 0 auto;
	height: 95%;
	width: 95%;
}*/
.s1{
	width: auto;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}
