body, html {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
#headers {
	background-color: #262626;
	height: 6%;
        width: 100%;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 18px;
	display: block;

}
.item {
	background-color: #FF0000;
	display: block;
	float: right; 
	margin-right: 1%;
	margin-top: 1%;
	color: #FFFFFF;
}
.logo {
	background-color: #FF0000;
	display: block;
	width: 2%;
	float: left;
	margin-left: 1%;
	margin-top: 1%;
	color: #FFFFFF;
}
.logo2 {
        justify-content: center;
	color: #FFFFFF;
	display: block;
	margin-top: 1%;
	text-decoration: none;
        float: left;
	color: #FFFFFF;	
}
.logo:hover {
	color: #262626;
	background-color: #FFFFFF;
}
.item:hover {
	color: #262626;
	background-color: #FFFFFF;
}
.content {
  display: flex;
  flex-flow: column;
  height: 94%;
  background-color: #262626;
}
.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	margin: 0 auto;
	height: 95%;
	width: 95%;
}
.items {
	display: flex;
	flex-basis: 5%;
	background-color: #ffffff;
	justify-content: center;
	align-items: center;
	height: 600px;
	transition: all 0.2s;
}
	.items:hover {
	flex-basis: 500px;
	}
* {
	
	box-sizing: border-box;
}
.s1:hover {
	width: 500px;
	transition: all 0.1s;
}
