body{
	background-color: #262626;
	margin: 0px;
	padding: 0px;
	height: 800px;
}
#headers {
	height: 40px;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 18px;
	padding-top: 10px;
	margin-left: 40px;
	margin-right: 40px;
}
a{
	text-decoration: none;
}
.item {
	text-align: center;
	float: right;
	width: 160px;
	background-color: #FF0000;
	margin-left: 25px;
	color: #FFFFFF;
}
.logo {
	background-color: #FF0000;
	float: left;
	width: 80px;
	text-align: center;
	color: #FFFFFF;
}
.logo2 {
	margin-left: 40%;
	width: auto;
	float: left;
	margin-right: 50px;
	color: #FFFFFF;
}
.logo:hover {
	color: #262626;
	background-color: #FFFFFF;
}
.item:hover {
	color: #262626;
	background-color: #FFFFFF;
}
/*.content {
  display: none;
  flex-flow: column;
  height: 94%;
  background-color: #262626;
}*/
/*.slider {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	margin: 0 auto;
	height: 95%;
	width: 95%;
}*/
.s1{
	width: 60%;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}
.content {
	display: block;
	float:none;
	width: auto;
	height: 100%;
	margin-right: 40px;
	margin-bottom: 40px;
	margin-left: 40px;
	background: white;
}
.logo3 {
	margin-right: 40px;
	margin-left: 40px;
	padding-left: 10px;
	padding-top:5px;
	color: #000000;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 18px;
	background-color: white;
}
