header{
	/* Включаем режим Flexbox. */
	display: flex; 
	
	/* Распределяем элементы внутри шапки */
	justify-content: space-between;

	/* Выравниваем элементы вертикально по центру. */
	align-items: center;
	background-color: pink;
}
.header-left{
background-color: pink;
}
.header-right{
	background-color: pink;
}
.header-center{
		background-color: pink;
}
